.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.row-space-between {
  justify-content: space-between;
}

.row-flex-start {
  justify-content: start;
}

.row-flex-end {
  justify-content: end;
}

.row-center {
  justify-content: center;
}

.row-middle {
  align-items: center;
}

.row-bottom {
  align-items: end;
}

.col-center {
  justify-content: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-gap {
  gap: 8px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-none-overflow-ellipsis {
  flex-wrap: nowrap;
  overflow: ellipsis;
}
