.button {
  padding: 8px 16px;
  border-radius: 4px;
}

.button-favourite {
  color: var(--eezee-blue);
  background: var(--white);
  border: 1px solid var(--border);
}

.button-add-cart {
  color: var(--white);
  background: var(--eezee-blue);
  border: 1px solid var(--eezee-blue);
}

.button-selector {
  height: 32px;
  padding: 6px 16px;
  color: var(--gray-primary);
  background: var(--white);
  border: 1px solid var(--border);
}
