.toolbar-border-background {
  border-bottom: 1px solid var(--border);
  background: var(--white);
}

.selector-background-border {
  background: var(--white);
  border: 1px solid var(--border);
}

.selector-button {
  height: 32px;
  padding: 6px 16px;
  color: var(--gray-primary);
  background: var(--white);
  border: 1px solid var(--border);
}

.favourite-button {
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--eezee-blue);
  background: var(--white);
  border: 1px solid var(--border);
}

.add-cart-button {
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--white);
  background: var(--eezee-blue);
  border: 1px solid var(--eezee-blue);
}

.card-border-radius {
  border-radius: 4px;
}

.card-border-background {
  border: 1px solid var(--border);
  background: var(--white);
}

.flag {
  height: 20px;
  padding: 0px 4px;
  border-radius: 2px;
}

.divider {
  display: block;
  width: 100%;
  margin: 8px 0;
  border-bottom: 1px solid var(--divider);
}

.divider.solid {
  border: 1px dashed var(--divider);
}

.link {
  color: var(--eezee-blue);
  cursor: pointer;
}

.link-no-colour {
  cursor: pointer;
}
