.brand-header-background {
  background: var(--divider);
}

.navbar-background {
  background: var(--background);
}

.toolbar-border-background {
  border-bottom: 1px solid var(--border);
  background: var(--white);
}

.selector-background {
  background: var(--white);
}

.selector-button {
  height: 32px;
  padding: 6px 16px;
  color: var(--gray-primary);
  background: var(--white);
  border: 1px solid var(--border);
}

.favourite-button {
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--eezee-blue);
  background: var(--white);
  border: 1px solid var(--border);
}

.add-cart-button {
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--white);
  background: var(--eezee-blue);
  border: 1px solid var(--eezee-blue);
}

.active {
  color: var(--eezee-blue);
  background: var(--eezee-blue-light);
  border: 1px solid var(--eezee-blue);
}

.card-border-radius {
  border-radius: 4px;
}

.card-border-background {
  border: 1px solid var(--border);
  background: var(--white);
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--divider);
}

.divider.solid {
  border: 1px dashed var(--divider);
}

.link {
  color: var(--eezee-blue);
}
