:root {
  --white: #ffffff;
  --grey-base: #242528;
  --grey-primary: #55585d;
  --grey-secondary: #868a92;
  --grey-tertiary: #bcbec2;
  --eezee-yellow: #ffc822;
  --eezee-yellow-light: #ffe69c;
  --eezee-yellow-dark: #6a5001;
  --eezee-blue: #2a64db;
  --eezee-blue-light: #dbe5fa;
  --eezee-blue-dark: #1e4daf;
  --background: #efeff0;
  --foreground: #f5f5f7;
  --border: #d7d8db;
  --divider: #e4e5e7;

  --font-family: ;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;

  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xl: 700;

  --line-height-sm: 16px;
  --line-height-md: 20px;
  --line-height-lg: 22px;
  --line-height-xl: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 1230px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link {
  color: var(--eezee-blue);
  cursor: pointer;
}

.link-no-colour {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.max-width-default {
  width: 1230px;
  height: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body-foreground {
  padding-bottom: 48px;
  min-height: 100vh;
  background: var(--foreground);
}

.border-top {
  border-top: 1px solid var(--border);
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}
