.bar-container {
  display: flex;
  height: 40px;
}

.container-top-search {
  display: flex;
  height: 130px;
}

.max-width {
  max-width: 1230px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-image-row {
  display: flex;
  height: 385px;
  border: 1px solid black;
}

.container-categories {
  display: flex;
  height: 385px;
  border: 1px solid black;
}

.container-brands {
  display: flex;
  height: 414px;
  border: 1px solid black;
}

.container-popular {
  display: flex;
  height: 766px;
  border: 1px solid black;
}

.footer {
  height: 400px;
}

.footer-upper-row-container {
  display: flex;
  height: 184px;
  border: 1px solid blue;
}

.footer-bottom-row-container {
  display: flex;
  height: 156px;
  border: 1px solid blue;
}

.spacing {
  height: 16px;
  border: 1px solid red;
}

.border-bottom {
  border-bottom: 1px solid #d7d8db;
}

.border-top {
  border-top: 1px solid #d7d8db;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
